<!--SECCION COMPONENTE SENSOR SECTOR-->
<md-card *ngIf="getPermisoAsignarComponenteSensor()" class="page-card">
        <md-card-title>Componente Sensor</md-card-title>
        <md-card-content>
            <section *ngIf="errorMessageAsingarComponenteSensor" class="bs">
                <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{errorMessageAsingarComponenteSensor}}</strong>
                    </div>
                </div><br>
            </section>
            <section *ngIf="getPerfilAsignarComponenteSensorSector()" class="bs">
                <table class="table table-striped table-hover table-card">
                    <thead>
                        <tr>
                            <th >Modelo</th>
                            <th >Descripci&oacute;n</th>
                            <th>Sensores Soportados</th>
                            <th class="actions">Acci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let componenteSensor of componentesSensor">
                            <td>{{componenteSensor.modelo}}.</td>
                            <td>{{componenteSensor.descripcion}}.</td>
                            <td>{{componenteSensor.cantidadMaximaSensores}}.</td>
                            <td>

                                <a *ngIf="getPermisoAsignarComponenteSensor()" class="example-tooltip-host" mdTooltip={{tooltipAsignarComponenteSector}} [mdTooltipPosition]="position">
                                        <img src="assets/icons/habilitar.png"(click)="apretarIconoAsignarComponente(componenteSensor.idComponenteSensor)">
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </section>
        </md-card-content>
    </md-card>
