<!--SECCION HOME SECTOR-->
<div *ngIf="getSectorSeleccionado()" class="page-content">
    <md-card class="page-card">
        <md-card-title>
            Resumen del Sector
            <a *ngIf="getPermisosGestionarSector()" class="example-tooltip-host" mdTooltip={{tooltipEditarSector}} [mdTooltipPosition]="position">
            <img src="assets/icons/editar.png" [routerLink]="['/gestionarSectorFinca/']">
        </a>

            <a *ngIf="getPermisosGestionarSector()"class="example-tooltip-host" mdTooltip={{tooltipEliminarSector}} [mdTooltipPosition]="position" (click)="apretarEliminarIcono()">
            <img src="assets/icons/delete.png">
        </a>
        <a id="botonVolver" class="example-tooltip-host" mdTooltip={{tooltipAtras}} [mdTooltipPosition]="position" (click)="apretarAtras()">
            <img src="assets/icons/atras.png">
        </a>
        </md-card-title>
        <md-card-content *ngIf="getPermisosGestionarSector()">
            <section *ngIf="errorMessageHomeSector" class="bs">
                <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{errorMessageHomeSector}}</strong>
                    </div>
                </div><br>
            </section>

            <h2>Datos Sector.</h2>

            <label id="atributo" class="col-2">Nombre:</label>
            <label class="col-3">{{sector.nombreSector}}.</label><br>

            <label id=atributo class="col-2">Descripci&oacute;n:</label>
            <label id=valor class="col-3">{{sector.descripcionSector}}.</label><br>

            <label id=atributo class="col-2">N&uacute;mero:</label>
            <label id=valor class="col-3">{{sector.numeroSector}}.</label><br>

            <label id=atributo class="col-2">Superficie:</label>
            <label id=valor class="col-3">{{sector.superficieSector}} hect&aacute;reas.</label><br>

        </md-card-content>


        <!--SECCION MECANISMO RIEGO SECTOR-->
        <md-card *ngIf="getPermisosAsignarMecanismoSector()" class="page-card">
            <md-card-title>
                Mecanismo Riego
                <a *ngIf="!getMecanismoHabilitado() && getPermisosAsignarMecanismoSector()" class="example-tooltip-host" mdTooltip={{tooltipAgregarMecanismoSector}} [mdTooltipPosition]="position">
                            <img src="assets/icons/nuevo.png" [routerLink]="['/asignarMecanismoSector/']">
                </a>

            </md-card-title>
            <md-card-content>
                <section *ngIf="errorMessageMecanismoSector" class="bs">
                    <div class="bd-example" data-example-id="">
                        <div class="alert alert-danger" role="alert">
                            <strong>{{errorMessageMecanismoSector}}</strong>
                        </div>
                    </div><br>
                </section>
                <section *ngIf="getMecanismoSeleccionado()" class="bs">
                    <table class="table table-striped table-hover table-card">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Presi&oacute;n</th>
                                <th>Caudal</th>
                                <th class="actions">Acci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{mecanismoRiego.nombreTipoMecanismo}}.</td>
                                <td>{{mecanismoRiego.presion}}.</td>
                                <td>{{mecanismoRiego.caudal}}.</td>
                                <td>

                                    <a *ngIf="getPermisosAsignarMecanismoSector()" class="example-tooltip-host" mdTooltip={{tooltipDeshabilitarMecanismoSector}} [mdTooltipPosition]="position">
                                        <img src="assets/icons/deshabilitar.png" (click)="apretarDeshabilitarMecanismoIcono(mecanismoRiego.idMecanismoRiegoFincaSector)">                                                        
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </section>
            </md-card-content>
        </md-card>

        <!--SECCION CULTIVO SECTOR-->
        <md-card *ngIf="getPermisosGestionarCultivoSector()" class="page-card">
            <md-card-title>
                Cultivo
                <a *ngIf="!getCultivoExistente() && getPermisosAsignarCultivo()" class="example-tooltip-host" mdTooltip={{tooltipAsignarCultivoSector}} [mdTooltipPosition]="position">
                            <img src="assets/icons/nuevo.png" [routerLink]="['/asignarCultivo/']">
                    </a>
                <a *ngIf="getCultivoExistente() && getPermisosGestionarCultivoSector()" class="example-tooltip-host" mdTooltip={{tooltipModificarCultivoSector}} [mdTooltipPosition]="position">
                            <img src="assets/icons/editar.png" (click)="apretarEditarCultivo(cultivosSector.idCultivo)"> 
                    </a>

            </md-card-title>
            <md-card-content>
                <section *ngIf="errorMessageCultivoSector" class="bs">
                    <div class="bd-example" data-example-id="">
                        <div class="alert alert-danger" role="alert">
                            <strong>{{errorMessageCultivoSector}}</strong>
                        </div>
                    </div><br>
                </section>
                <section *ngIf="getCultivoSectorSeleccionado()" class="bs">
                    <table class="table table-striped table-hover table-card">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripci&oacute;n</th>
                                <th>Cantidad Plantas</th>
                                <th>Fecha Plantaci&oacute;n</th>
                                <th class="actions">Acci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{cultivosSector.nombre}}.</td>
                                <td>{{cultivosSector.descripcion}}.</td>
                                <td>{{cultivosSector.cantidadPlantas}} plantas.</td>
                                <td>{{cultivosSector.fechaPlantacion.substring(0,10)}}</td>
                                <td>

                                    <a *ngIf="getPermisosGestionarCultivoSector()"class="example-tooltip-host" mdTooltip={{tooltipDeshabilitarCultivoSector}} [mdTooltipPosition]="position">
                                            <img src="assets/icons/deshabilitar.png"(click)="apretarDeshabilitarCultivo(cultivosSector.idCultivo)">
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </section>
            </md-card-content>
        </md-card>

        <!--SECCION COMPONENTE SENSOR SECTOR-->
        <md-card *ngIf="getPermisosAsignarComponenteSensor()" class="page-card">
            <md-card-title>
                Componente Sensor Sector
                <a *ngIf="!getComponenteSensorExistente() && getPermisosAsignarComponenteSensor()" class="example-tooltip-host" mdTooltip={{tooltipAsignarComponenteSector}} [mdTooltipPosition]="position">
                                <img src="assets/icons/nuevo.png" [routerLink]="['/asignarComponenteSector/']" >
                        </a>

            </md-card-title>
            <md-card-content>
                <section *ngIf="errorMessageComponenteSector" class="bs">
                    <div class="bd-example" data-example-id="">
                        <div class="alert alert-danger" role="alert">
                            <strong>{{errorMessageComponenteSector}}</strong>
                        </div>
                    </div><br>
                </section>
                <section *ngIf="getComponenteSensorSeleccionado()" class="bs">
                    <table class="table table-striped table-hover table-card">
                        <thead>
                            <tr>
                                <th>Modelo</th>
                                <th>Descripci&oacute;n</th>
                                <th>Sensores Asignados</th>
                                <th class="actions">Acci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{componenteSensor.modelo}}.</td>
                                <td>{{componenteSensor.descripcion}}.</td>
                                <td>{{componenteSensor.cantidadSensoresAsignados}} sensores.</td>
                                <td>

                                    <a class="example-tooltip-host" mdTooltip={{tooltipDeshabilitarComponenteSector}} [mdTooltipPosition]="position">
                                                <img src="assets/icons/deshabilitar.png"(click)="apretarDeshabilitarComponenteSector(componenteSensor.idComponenteSensor)">
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </section>
            </md-card-content>
        </md-card>

        <!--SECCION CONFIGURACIONES DE RIEGO-->
        <md-card *ngIf="getPermisoModificarConfiguracionRiego()" class="page-card">
            <md-card-title>
                Configuraciones de Riego
                <a *ngIf="getMecanismoHabilitado() && getPermisoCrearConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipCrearConfiguracionRiego}} [mdTooltipPosition]="position">
                    <img src="assets/icons/nuevo.png" [routerLink]="['/crearConfiguracionRiego/']">
                </a>
            </md-card-title>
            <md-card-content>
                <section *ngIf="errorMessageConfiguracionRiego" class="bs">
                    <div class="bd-example" data-example-id="">
                        <div class="alert alert-danger" role="alert">
                            <strong>{{errorMessageConfiguracionRiego}}</strong>
                        </div>
                    </div><br>
                </section>
                <section *ngIf="getConfiguracionRiegoSeleccionado()" class="bs">
                    <table class="table table-striped table-hover table-card">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripci&oacute;n</th>
                                <th>Tipo Configuraci&oacute;n</th>
                                <th class="actions">Acci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let configuracionRiego of configuracionesRiego">
                                <td>{{configuracionRiego.nombre}}.</td>
                                <td>{{configuracionRiego.descripcion}}.</td>
                                <td>{{configuracionRiego.tipoConfiguracionRiego}}.</td>
                                <td>
                                    <a *ngIf="configuracionRiego.estado_configuracion=='habilitado' && configuracionRiego.tipoConfiguracionRiego=='programado' && getPermisoModificarConfiguracionRiego()"
                                        class="example-tooltip-host" mdTooltip={{tooltipVerConfiguracionRiego}} [mdTooltipPosition]="position" 
                                        (click)="apretarHomeConfiguracionRiego(configuracionRiego.idConfiguracionRiego)">
                                            <img src="assets/icons/ver.png">
                                    </a>
                                    <a *ngIf="configuracionRiego.estado_configuracion=='deshabilitado' && getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipHabilitarConfiguracionRiego}}
                                        [mdTooltipPosition]="position">
                                            <img src="assets/icons/habilitar.png" (click)="apretarHabilitarConfiguracionRiego(configuracionRiego.idConfiguracionRiego)">
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </section>
            </md-card-content>
        </md-card>

        <!--SECCION RIEGO-->
        <md-card class="page-card">
            <md-card-title>
                Riego Finca
                <a *ngIf="!getExisteRiegoEnEjecucion() && getMecanismoHabilitado() && getPermisoIniciarODetenerRiegoManualmente()" class="example-tooltip-host" mdTooltip={{tooltipIniciarRiego}} [mdTooltipPosition]="position">
                    <img src="assets/icons/iniciar.png" (click)="apretarIniciarRiego()">
                </a>
            </md-card-title>
            <md-card-content>
                <section *ngIf="errorMessageRiego" class="bs">
                    <div class="bd-example" data-example-id="">
                        <div class="alert alert-danger" role="alert">
                            <strong>{{errorMessageRiego}}</strong>
                        </div>
                    </div><br>
                </section>
                <section *ngIf="getRiegoSeleccionado()" class="bs">
                    <table class="table table-striped table-hover table-card">
                        <thead>
                            <tr>
                                <th>Configuraci&oacute;n Riego</th>
                                <th>Inicio</th>
                                <th>Fin Programado</th>
                                <th class="actions">Acci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{configiruacionRiego}}</td>
                                <td>{{riegos.fechaHoraInicio.substring(0,10)}} {{riegos.fechaHoraInicio.substring(11,19)}}</td>
                                <td>{{fechaFinRiego}}</td>
                                <td>
                                    <a *ngIf="riegos.estado_ejecucion_riego=='en_ejecucion' && getPermisoIniciarODetenerRiegoManualmente()" class="example-tooltip-host" mdTooltip={{tooltipPausarRiego}} [mdTooltipPosition]="position"
                                        (click)="apretarPausarRiego()">
                                            <img src="assets/icons/pausar.png">
                                    </a>

                                    <a *ngIf="riegos.estado_ejecucion_riego=='en_ejecucion' || riegos.estado_ejecucion_riego=='pausado' && getPermisoIniciarODetenerRiegoManualmente()" class="example-tooltip-host"
                                        mdTooltip={{tooltipCancelarRiego}} [mdTooltipPosition]="position" (click)="apretarCancelarRiego()">
                                        <img src="assets/icons/cancelar.png">
                                    </a>

                                    <a *ngIf="riegos.estado_ejecucion_riego=='pausado' && getPermisoIniciarODetenerRiegoManualmente()" class="example-tooltip-host" mdTooltip={{tooltipIniciarRiego}} [mdTooltipPosition]="position">
                                            <img src="assets/icons/iniciar.png" (click)="apretarIniciarRiego()">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </md-card-content>
        </md-card>


        <!--SECCION EVENTO PERSONALIZADO-->
        <md-card *ngIf="getPermisoGestionarEventoPersonalizado()" class="page-card">
            <md-card-title>
                Evento Personalizado Sector
                <a *ngIf="getPermisoGestionarEventoPersonalizado()" class="example-tooltip-host" mdTooltip={{tooltipCrearEvento}} [mdTooltipPosition]="position">
                            <img src="assets/icons/nuevo.png" [routerLink]="['/crearEventoPersonalizado/']">
                        </a>
            </md-card-title>
            <md-card-content>
                <section *ngIf="errorMessageEventoPersonalizado" class="bs">
                    <div class="bd-example" data-example-id="">
                        <div class="alert alert-danger" role="alert">
                            <strong>{{errorMessageEventoPersonalizado}}</strong>
                        </div>
                    </div><br>
                </section>
                <section *ngIf="getEventoPersonalizadoSeleccionado()" class="bs">
                    <table class="table table-striped table-hover table-card">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Mediciones Internas</th>
                                <th>Mediciones Externas</th>
                                <th class="actions">Acci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let eventoPersonalizado of eventosPersonalizados">
                                <td>{{eventoPersonalizado.nombre}}</td>
                                <td>
                                    <ul *ngFor="let evento of eventoPersonalizado.lista_mediciones_internas">
                                        <li>Tipo: {{evento.tipo_medicion}}.</li>
                                        <li>Valor M&iacute;nimo: {{evento.valor_minimo}} {{evento.unidad_medicion}}.</li>
                                        <li>Valor M&aacute;ximo: {{evento.valor_maximo}} {{evento.unidad_medicion}}.</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul *ngFor="let evento of eventoPersonalizado.lista_mediciones_externas">
                                        <li>Tipo: {{evento.tipo_medicion}}.</li>
                                        <li>Valor M&iacute;nimo: {{evento.valor_minimo}} {{evento.unidad_medicion}}.</li>
                                        <li>Valor M&aacute;ximo: {{evento.valor_maximo}} {{evento.unidad_medicion}}.</li>
                                    </ul>
                                </td>
                                <td>
                                    <a *ngIf="eventoPersonalizado.activado==false && getPermisoGestionarEventoPersonalizado() && eventoPersonalizado.nombre!='helada'" class="example-tooltip-host" mdTooltip={{tooltipHabilitarEvento}} [mdTooltipPosition]="position">
                                        <img src="assets/icons/habilitar.png" (click)="apretarHabilitarEvento(eventoPersonalizado.id_configuracion_evento)">
                                    </a>

                                    <a *ngIf="eventoPersonalizado.activado==true && getPermisoGestionarEventoPersonalizado() && eventoPersonalizado.nombre!='helada'" class="example-tooltip-host" mdTooltip={{tooltipEditarEvento}} [mdTooltipPosition]="position">
                                            <img src="assets/icons/editar.png" (click)="apretarModificarEvento(eventoPersonalizado.id_configuracion_evento)">
                                    </a>

                                    <a *ngIf="eventoPersonalizado.activado==true && getPermisoGestionarEventoPersonalizado() && eventoPersonalizado.nombre!='helada'" class="example-tooltip-host" mdTooltip={{tooltipDeshabilitarEvento}} [mdTooltipPosition]="position">
                                            <img src="assets/icons/deshabilitar.png" (click)="apretarDeshabilitarEvento(eventoPersonalizado.id_configuracion_evento)">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </md-card-content>
        </md-card>

    </md-card>
</div>