<h1>Recuperar Cuenta</h1>

<form>

    <div class ="container" *ngIf=divPrimero>
        <h1>Paso 1</h1>
        <label>Email</label><br>
        <input type="email" name="email" #email maxlength="50" placeholder="Ejemplo@gmail.com" required="Debe ingresar un email"><br>
        <button type="button" class="btn btn-success" (click)="apretarAceptarDivPrimero(email.value)">Aceptar</button>
        <button type="button" class="btn btn-danger" (click)="apretarCancelarDivPrimero()">Cancelar</button>
        
    </div>
</form>

<form>
    <div class="container" *ngIf=divSegundo>
        <h1>Paso 2</h1>
        <label>C&oacute;digo de verificicaci&oacute;n</label><br>
        <input type="text" name="codigoVerificacion" #codigo maxlength="10" placeholder="Ingrese c&oacute;digo" required="Debe ingresar un c&oacute;digo"><br>
        <label>Contrase&ntilde;a</label><br>
        <input type="password" name="password" #pass1 maxlength="20" placeholder="Ingrese contrase&ntilde;a" required="Debe ingresar una contrase&ntilde;a"><br>
        <label>Repetir Contrase&ntilde;a</label><br>
        <input type="password" name="repepassword"  #pass2 maxlength="20" placeholder="Ingrese contrase&ntilde;a" required="Debe ingresar una contrase&ntilde;a"><br>
        <button type="button" data-toggle="modal" data-target="#cambiarContraseniaModal" class="btn btn-success"
            (click)="apretarReestablecerContrasenia(codigo.value,pass1.value,pass2.value)"
        >Reestablecer</button>
        <button type="button" class="btn btn-danger" (click)="apretarCancelarContrasenia()">Volver</button>

    </div>
</form>

<!-- Modal Cambiar Contraseña-->
<div class="modal fade" id="cambiarContraseniaModal" tabindex="-1" role="dialog" aria-labelledby="cambiarContraseniaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="cambiarContraseniaLabel">Modificaci&oacute;n de contrase&ntilde;a</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                            <label>La contrase&ntilde;a ha sido reestablecida con exito</label>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="apretarAceptarCambiarContraseniaModal()">Aceptar</button>
                    </div>
            </div>
    </div>
</div>

