table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
}
td,th{
    text-align: left;
    padding: 10px;
    cursor: pointer;
    
}
th{
    background-color:#009688; 
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
#atributo{
    font-weight: bold;
}