<!--SECCION ASIGNAR MECANISMO SECTOR-->
<div *ngIf="getPerfilMecanismoRiego() && getPermisoAsignarMecRiegoASector()" class="sign-container">
    
        <md-card class="page-card">
            <md-card-title>Mecanismos Riego Sector</md-card-title>
            <md-card-subtitle>En esta secci&oacute;n el Encagado de la Finca puede asignarle mecanismos de riego a la finca.</md-card-subtitle>
            <md-card-content>
                <section *ngIf="errorMessagePerfilMecanismoSectorFinca" class="bs">
                    <div class="bd-example" data-example-id="">
                        <div class="alert alert-danger" role="alert">
                            <strong>{{errorMessagePerfilMecanismoSectorFinca}}</strong>
                        </div>
                    </div><br>
                </section>
                <section *ngIf="getMecanismosRiegoSeleccionado()" class="bs">
                    <table class="table table-striped table-hover table-card">
                            <thead>
                                    <tr>
                                            <th >Nombre</th>
                                            <th >Direcci&oacute;n IP</th>
                                            <th>Fecha Instalaci&oacute;n</th>
                                            <th class="actions">Acci&oacute;n</th>
                                    </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let mecanismoRiego of mecanismosRiego">
                                            <td>{{mecanismoRiego.tipoMecanismoRiego}}.</td>
                                            <td>{{mecanismoRiego.direccionIP}}.</td>
                                            <td>{{mecanismoRiego.fechaInstalacion.substring(0,10)}}.</td>
                                            <td>

                                                    <a *ngIf="getPermisoAsignarMecRiegoASector()" class="example-tooltip-host" mdTooltip={{tooltipAgregarMecanismo}} [mdTooltipPosition]="position">
                                                    <img src="assets/icons/agregarMecanismo.png" (click)="apretarAgregarMecanismo(mecanismoRiego.idMecanismoRiegoFinca)">
                                            </a>
                                            </td>
                                    </tr>
                            </tbody>
                    </table>
            </section>
      
    
            </md-card-content>
            <md-card-footer></md-card-footer>
        </md-card>
    
    </div>

<!--SECCION ASIGNAR MECANISMO RIEGO SECTOR-->
<div *ngIf="getPerfilAsignarMecanismo() && getPermisoAsignarMecRiegoASector()" class="page-content">
        <md-card><br>
          <md-card-title>Agregar Mecanismo</md-card-title>
          <md-card-content>
            <md-tab-group selectedIndex="{{selectIndex}}">
              <md-tab disabled label="Paso 1">
                <div class="tab-body-content">
                  <h3>
                    <small>Datos Mecanismo.</small>
                  </h3>
                  <p>Los campos con (*) son obligatorios.</p>
                  <section *ngIf="errorMessageAsignarMecanismo" class="bs">
                    <div class="bd-example" data-example-id="">
                      <div class="alert alert-danger" role="alert">
                        <strong>{{errorMessageAsignarMecanismo}}</strong>
                      </div>
                    </div><br>
                  </section>
                  <br>
                  <label id=atributo >Caudal m&aacute;ximo: </label>
                  <label id=valor >{{caudalMaximo }} litros/minutos.</label><br><br>

                  <md-input-container>  
                    <input mdInput placeholder="Caudal Mecanismo." type="number" [(ngModel)]="caudal" name="caudal" required maxlength="4">
                  </md-input-container>
                  
                  <br><br>
                  <label id=atributo >Presi&oacute;n m&aacute;xima: </label>
                  <label id=valor >{{presionMaxima }} Pascal.</label><br><br>

                  <md-input-container>
                    <input mdInput placeholder="Presi&oacute;n Mecanismo." type="number" [(ngModel)]="presion" name="presion" required maxlength="4">
                  </md-input-container>
      
      
                </div>
              </md-tab>
              
              <md-tab disabled label="Paso 2">
                <div class="tab-body-content">
                  <h4>Resumen Registraci&oacute;n.</h4>
                  <section *ngIf="errorMessageAsignarMecanismo" class="bs">
                      <div class="bd-example" data-example-id="">
                        <div class="alert alert-danger" role="alert">
                          <strong>{{errorMessageAsignarMecanismo}}</strong>
                        </div>
                      </div><br>
                    </section>
                <label id="atributo">Caudal Mecanismo de Riego: </label>
                <label>{{caudal}} litros/minutos.</label><br><br>

                <label id="atributo">Presi&oacute; Mecanismo de Riego: </label>
                <label>{{presion}} Pascal.</label><br><br>
            
              </div>
              </md-tab>
            </md-tab-group>
          </md-card-content>
          <md-card-actions>
            <button md-raised-button [disabled]="selectIndex <= 0" (click)="selectIndex = selectIndex - 1">ATR&Aacute;S</button>
            <button *ngIf="selectIndex ==0" md-raised-button (click)="apretarNextAsignar()" >SIGUIENTE</button>
            <button *ngIf="selectIndex == 1" md-raised-button (click)="apretarAgregaMecanismo()">ASIGNAR</button>
            <button md-raised-button (click)="apretarSalir()">SALIR</button>
          </md-card-actions>
        </md-card>
      
      </div>