<!--SECCION MODIFICAR SENSOR-->
<div *ngIf="getPermisoGestionarSensor()" class="sign-container">
    <md-card class="page-card">
        <md-card-title>Modificar Sensor</md-card-title>
        <md-card-content>
            <section *ngIf="errorMessageModificarSensor" class="bs">
                <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{errorMessageModificarSensor}}</strong>
                    </div>
                </div><br>
            </section>                
                <h2>Datos Sensor.</h2><br>

                <label id="atributo">Medici&oacute;n Actual: </label>
                <label>{{medicionActual}}.</label><br>

                <br><br><md-select placeholder="Seleccionar Tipo Medicion." [(ngModel)]="tipoMedicion" name="tipoMedicion">
                    <md-option *ngFor="let medicion of mediciones"[value]="medicion.idTipoMedicion" requerid>
                        {{medicion.nombreTipoMedicion}}
                    </md-option>
                </md-select>
                <br><br>

                <md-input-container>
                    <input mdInput placeholder="Modelo Sensor." type="text" [(ngModel)]="modeloSensor" name="modeloSensor" required maxlength="200"><br>
                </md-input-container>


        </md-card-content>
        <md-card-actions>
            <button md-raised-button  (click)="apretarModificarSensor()">MODIFICAR</button>
            <button md-raised-button (click)="apretarSalir()">SALIR</button>
        </md-card-actions>

    </md-card>

</div>