<!--SECCION GESTIONAR CULTIVO SECTOR-->
<div *ngIf="getPermisoGestionarCultivo()" class="page-content">
    <md-card><br>
      <md-card-title>Modificar Cultivo</md-card-title>
      <md-card-content>
        <md-tab-group selectedIndex="{{selectIndex}}">
          <md-tab disabled label="Paso 1">
            <div class="tab-body-content">
              <h3>
                <small>Datos Cultivo.</small>
              </h3>
              <p>Los campos con (*) son obligatorios.</p>
              <section *ngIf="errorMessageModificarCultivo" class="bs">
                <div class="bd-example" data-example-id="">
                  <div class="alert alert-danger" role="alert">
                    <strong>{{errorMessageModificarCultivo}}</strong>
                  </div>
                </div><br>
              </section>
              
              <md-input-container>  
                <input mdInput placeholder="Nombre cultivo." type="text" [(ngModel)]="nombreCultivo" name="nombreCultivo" required maxlength="30">
              </md-input-container>
  
              <md-input-container>  
                <input mdInput placeholder="Descripci&oacute;n cultivo." type="text" [(ngModel)]="descripcion" name="descripcion" required maxlength="100">
              </md-input-container>

              <md-input-container>  
                <input mdInput placeholder="Cantidad de plantas." type="text" [(ngModel)]="cantidadPlantas" name="cantidadPlantas" required maxlength="5">
              </md-input-container>
              
              <md-input-container>
                <input mdInput placeholder="Fecha Plantaci&oacute;n." type="date" [(ngModel)]="fechaPlantacion" name="fechaPlantacion" required >
              </md-input-container>
  
  
            </div>
          </md-tab>
          
          <md-tab disabled label="Paso 2">
            <div class="tab-body-content">
              <h4>Resumen Registraci&oacute;n.</h4>
              <section *ngIf="errorMessageModificarCultivo" class="bs">
                  <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                      <strong>{{errorMessageModificarCultivo}}</strong>
                    </div>
                  </div><br>
                </section>

            <label id="atributo">Nombre Cultivo: </label>
            <label>{{nombreCultivo}}.</label><br><br>

            <label id="atributo">Descripci&oacute;n: </label>
            <label>{{descripcion}}.</label><br><br>

            <label id="atributo">Cantidad de plantas: </label>
            <label>{{cantidadPlantas}} plantas.</label><br><br>

            <label id="atributo">Fecha Plantaci&oacute;n: </label>
            <label>{{fechaPlantacion}}.</label><br><br>
          
          </div>
          </md-tab>
        </md-tab-group>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button [disabled]="selectIndex <= 0" (click)="selectIndex = selectIndex - 1">ATR&Aacute;S</button>
        <button *ngIf="selectIndex ==0" md-raised-button (click)="apretarNextModificar()" >SIGUIENTE</button>
        <button *ngIf="selectIndex == 1" md-raised-button (click)="apretarModificarCultivo()">MODIFICAR</button>
        <button md-raised-button (click)="apretarSalir()">SALIR</button>
      </md-card-actions>
    </md-card>
  
  </div>