<!--Top toolbar-->
<md-toolbar *ngIf="!appService.getState().pageFullscreen" class="topnav-container" color="primary">
  <!--Side Nav Button-->
  <a md-icon-button class="topnav-menu-btn" (click)="toggleSidenav()">
    <md-icon>menu</md-icon>
  </a>
  <!--Application Title-->
  <span class="topnav-title">
    <!--<img src="assets/img/logo-half-light.svg"
         *ngIf="appService.getState().sidenavMode === 'side'">-->
    {{appService.getState().topnavTitle}}</span>

  <span class="toolbar-filler"></span>
  <!--Apps Menu-->

  <!--Notifications Menu-->
  <a md-icon-button [md-menu-trigger-for]="topnavNotificationsMenu">
    <span class="notify">3</span>
    <md-icon>notifications</md-icon>
  </a>
  <md-menu #topnavNotificationsMenu="mdMenu">
    <div class="menu-card">
      <md-list>
        <md-list-item>
          <img md-list-avatar src="assets/img/avatar3.png" alt="...">
          <h3 md-line> Tim Max <span class="pull-right"> <small>just now</small></span></h3>
          <p md-line>
            <span> <small>Make some fun tonight?</small></span>
          </p>
        </md-list-item>
        <md-list-item>
          <img md-list-avatar src="assets/img/avatar.jpg" alt="...">
          <h3 md-line> Chiho Sin <span class="pull-right"> <small>2 min ago</small></span></h3>
          <p md-line>
            <span> <small>Hello!</small></span>
          </p>
        </md-list-item>
        <md-list-item>
          <img md-list-avatar src="assets/img/avatar1.png" alt="...">
          <h3 md-line> Alex Chan <span class="pull-right"> <small>8 min ago</small></span></h3>
          <p md-line>
            <span> <small>I'm finish my job!</small></span>
          </p>
        </md-list-item>
      </md-list>
      <a class="menu-block-bottom-btn">View all</a>
    </div>
  </md-menu>

  <!--User Menu-->
  <a md-icon-button [md-menu-trigger-for]="topnavUserMenu">
    <img class="topnav-avatar" src="assets/img/avatar.jpg">
  </a>
  <md-menu #topnavUserMenu="mdMenu">
    <button md-menu-item (click)="apretamosProfile()">
      <md-icon>person</md-icon>
      <span>Profile</span></button>
    <button md-menu-item>
      <md-icon>settings</md-icon>
      <span>Setting</span></button>
    <button md-menu-item>
      <md-icon>lock_outline</md-icon>
      <span>Lock</span></button>
  </md-menu>

</md-toolbar>
<!--Page container-->

