<!--SECCION PERFIL AGREGAR USUARIO-->
<div *ngIf="getPerfilUsuariosNoFinca() && getPermisoGestionarUsuario()" class="sign-container">
    <md-card class="page-card">
            <md-card-title>Usuarios no pertencientes a la Finca</md-card-title>
            <md-card-subtitle>
                En esta secci&oacute;n el Encargado de la Finca puede agregar usuarios a su finca.
            </md-card-subtitle>            
            <md-card-content>         
                    <section *ngIf="errorMessageUsuariosFinca" class="bs">
                            <div class="bd-example" data-example-id="">
                                    <div class="alert alert-danger" role="alert">
                                            <strong>{{errorMessageUsuariosFinca}}</strong>
                                    </div>
                            </div><br>
                    </section>

                    <section *ngIf="getUsuariosNoFinca()" class="bs">
                      
                    <table class="table table-striped table-hover table-card">
                      <thead>
                        <tr>
                          <th >Usuario</th>
                          <th >Apellido y Nombre</th>
                          <th>Domicilio</th>
                          <th class="actions">Acci&oacute;n</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let usuarioNoFinca of usuariosNoFinca">
                          <td>{{usuarioNoFinca.usuario}}.</td>
                          <td>{{usuarioNoFinca.apellido}}, {{usuarioNoFinca.nombre}}.</td>
                          <td>{{usuarioNoFinca.domicilio}}.</td>
                          <td>
                              <a class="example-tooltip-host" mdTooltip={{tooltipAgregarUsuario}} [mdTooltipPosition]="position" (click)="apretarAgregarIcono()"
                                (click)="apretarAgregarIcono(usuarioNoFinca.usuario)">
                                  <img src="assets/icons/nuevoUsuario.png">
                              </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    </section>
            </md-card-content>

    </md-card>

</div>


<!--SECCION AGREGAR USUARIO FINCA-->
<div *ngIf="getAgregarUsuariosFinca() && getPermisoGestionarUsuario()" class="page-content">
    <md-card><br>
      <md-card-title>Registrar Usuario</md-card-title>
      <md-card-content>
        <md-tab-group selectedIndex="{{selectIndex}}">
          <md-tab disabled label="Paso 1">
            <div class="tab-body-content">
              <h3>
                <small>Datos Rol.</small>
              </h3>
              <p>Los campos con (*) son obligatorios.</p>
              <section *ngIf="errorMessageAgregarUsuarioNoFinca" class="bs">
                <div class="bd-example" data-example-id="">
                  <div class="alert alert-danger" role="alert">
                    <strong>{{errorMessageAgregarUsuarioNoFinca}}</strong>
                  </div>
                </div><br>
              </section>
              <br><md-select placeholder="Seleccionar Rol." [(ngModel)]="rolSeleccionado" name="rolSeleccionado" requerid>
                  <md-option *ngFor="let rol of roles" [value]="rol.nombreRol">
                    {{rol.nombreRol}}.
                  </md-option>
              </md-select>
  
  
            </div>
          </md-tab>
          
          <md-tab disabled label="Paso 2">
            <div class="tab-body-content">
              <h4>Resumen Registraci&oacute;n.</h4>
              <section *ngIf="errorMessageAgregarUsuarioNoFinca" class="bs">
                  <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                      <strong>{{errorMessageAgregarUsuarioNoFinca}}</strong>
                    </div>
                  </div><br>
                </section>
            <label id="atributo">Usuario: </label>
            <label>{{usuario}}.</label><br><br>

            <label id="atributo">Finca: </label>
            <label>{{nombreFinca}}.</label><br><br>

            <label id="atributo">Rol: </label>
            <label>{{rolSeleccionado}}.</label>
          
          </div>
          </md-tab>
        </md-tab-group>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button [disabled]="selectIndex <= 0" (click)="selectIndex = selectIndex - 1">ATR&Aacute;S</button>
        <button *ngIf="selectIndex ==0" md-raised-button (click)="apretarNextAgregar()" >SIGUIENTE</button>
        <button *ngIf="selectIndex == 1" md-raised-button (click)="apretarAgregarUsuario()">AGREGAR</button>
        <button md-raised-button (click)="apretarSalir()">SALIR</button>
      </md-card-actions>
    </md-card>
  
  </div>