<div class="row">
    <div class=col-lg-5>
        <h3>Usuario No Finca</h3>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Agregar</th>
            </tr>
            <tr *ngFor="let usuarioNoFinca of usuariosNoFinca">
                <td>{{usuarioNoFinca.nombre}}</td>
                <td>{{usuarioNoFinca.apellido}}</td>
                <td>{{usuarioNoFinca.email}}</td>
                <td>
                    <!--<img src="../../../assets/visualizar.png" [routerLink]="['/homeFincaDetalle']" />-->
                    <img src="../../../assets/checked.png" data-toggle="modal" data-target="#aprobarUsuarioModal" (click)="apretarAgregarUsuario(usuarioNoFinca.usuario)"/>
                </td>
            </tr>

        </table>

    </div>
    <div class=col-lg-5>
        <h3>Usuario No Encargado</h3>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Eliminar</th>
            </tr>
            <tr *ngFor="let usuarioNoEncargado of usuariosNoEncargado">
                <td>{{usuarioNoEncargado.nombre}}</td>
                <td>{{usuarioNoEncargado.apellido}}</td>
                <td>{{usuarioNoEncargado.email}}</td>
                <td>
                    <!--<img src="../../../assets/visualizar.png" [routerLink]="['/homeFincaDetalle']" />-->
                    <img src="../../../assets/delete.png" data-toggle="modal" data-target="#eliminarUsuarioModel" (click)="eliminarUsuarioFinca(usuarioNoEncargado.idUsuarioFinca)" />
                </td>
            </tr>

        </table>

    </div>
</div>

<!-- Modal Eliminar Usuario-->
<div class="modal fade" id="eliminarUsuarioModel" tabindex="-1" role="dialog" aria-labelledby="eliminarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="eliminarUsuarioLabel">Eliminar Usuario Finca</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                            <label>¿Desea eliminar el usuario de la finca?</label>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="apretarEliminarUsuarioFinca()">Aceptar</button>
                    </div>
            </div>
    </div>
</div>

<!-- Modal Agregar Usuario-->
<div class="modal fade" id="aprobarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="aprobarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="aprobarUsuarioLabel">Eliminar Usuario Finca</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                            <label>¿Desea agregar el usuario de la finca?</label>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="apretarAceptarUsuarioFinca()">Aceptar</button>
                    </div>
            </div>
    </div>
</div>