<!--SECCION PERFIL AGREGAR USUARIO-->
<div *ngIf="getperfilHomeComponenteSeleccionado() && getPermisoGestionarComponenteSensor()" class="sign-container">

  <md-card *ngIf="getPermisoGestionarComponenteSensor()" class="page-card">
    <md-card-title>
      
      Home Componente Sensor
      <a id="botonVolver" class="example-tooltip-host" mdTooltip={{tooltipAtras}} [mdTooltipPosition]="position" (click)="apretarAtras()">
          <img src="assets/icons/atras.png">
      </a>

    </md-card-title>
    <md-card-subtitle>
      En esta secci&oacute;n el Encargado de la Finca puede modificar, deshabilitar el componente sensor y asignar sensores a los componente sensor de la finca.
    </md-card-subtitle>
    <md-card-content>
      <section *ngIf="errorMessageHomeComponente" class="bs">
        <div class="bd-example" data-example-id="">
          <div class="alert alert-danger" role="alert">
            <strong>{{errorMessageHomeComponente}}</strong>
          </div>
        </div><br>
      </section>

      <section *ngIf="getPerfilComponenteSeleccionado()" class="bs">

          <h4>
            Datos Componente Sensor.
            <a *ngIf="componenteSensor.estado=='habilitado' && getPermisoGestionarComponenteSensor()" class="example-tooltip-host" mdTooltip={{tooltipEditarComponente}} [mdTooltipPosition]="position">
                <img src="assets/icons/editar.png" [routerLink]="['/modificarComponenteSensorFinca/']">
            </a>
            <a *ngIf="componenteSensor.estado=='habilitado' && getPermisoGestionarComponenteSensor()" class="example-tooltip-host" mdTooltip={{tooltipDeshabilitarComponente}} [mdTooltipPosition]="position">
                <img src="assets/icons/deshabilitar.png" (click)="apretarDeshabilitarComponenteSensor(componenteSensor.idComponenteSensor)">
            </a>
          </h4>

        <label id="atributo">Identificador componente:</label>
        <label >{{componenteSensor.idComponenteSensor}}.</label><br>

        <label id="atributo">Modelo:</label>
        <label >{{componenteSensor.modelo}}.</label><br>

        <label id=atributo >Descripci&oacute;n:</label>
        <label  >{{componenteSensor.descripcion}}.</label><br>

        <label id=atributo>Cantidad de sensores soportados:</label>
        <label  >{{componenteSensor.cantidadMaximaSensores}}.</label><br>

        <label id=atributo >Sensores asignados:</label>
        <label  >{{componenteSensor.cantidadSensoresAsignados}}.</label><br>

      </section>
    </md-card-content>

  

  <!-- SECCION AGREGAR SENSORES COMPONENTE SENSOR -->
  <md-card *ngIf="getPermisoGestionarSensor()"class="page-card">
            <md-card-title>
                Sensores
                <a *ngIf="getPermisoGestionarSensor()" class="example-tooltip-host" mdTooltip={{tooltipAgregarSensor}} [mdTooltipPosition]="position">
                    <img src="assets/icons/nuevo.png" [routerLink]="['/asignarSensorComponenteSectorFinca/']">
                </a>
            </md-card-title>        
            <md-card-content>         
                    <section *ngIf="errorMessageSensor" class="bs">
                            <div class="bd-example" data-example-id="">
                                    <div class="alert alert-danger" role="alert">
                                            <strong>{{errorMessageSensor}}</strong>
                                    </div>
                            </div><br>
                    </section>

                    <section *ngIf="getPerfilSensorSeleccionado()" class="bs">
                    <table class="table table-striped table-hover table-card">
                      <thead>
                        <tr>
                          <th >Modelo</th>
                          <th >Tipo Medici&oacute;n</th>
                          <th>Fecha Alta</th>
                          <th class="actions">Acci&oacute;n</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let sensor of sensores">
                          <td>{{sensor.modelo}}.</td>
                          <td>{{sensor.tipoMedicion}}.</td>
                          <td>{{sensor.fechaAltaSensor.substring(0,10)}}.</td>
                          <td>
                              <a *ngIf="getPermisoGestionarSensor()"class="example-tooltip-host" mdTooltip={{tooltipDesasignarSensor}} [mdTooltipPosition]="position"
                                (click)="apretarIconoDeshabilitarSensorComponente(sensor.idSensor)">
                                  <img src="assets/icons/deshabilitar.png">
                              </a>
                          </td>
                        </tr>
                      </tbody>
                    
                    </table>
                    </section>
            </md-card-content>

    </md-card>
  </md-card>
    

</div>