<div class="sign-container">
                <div class="sign-background"></div>
                <md-card class="sign-card">
                  <!--<md-card-title><img style="height: 64px;" src="assets/img/logo-full.svg"></md-card-title>-->
                  <md-card-subtitle>Iniciar Sesi&oacute;n.</md-card-subtitle>
                  <br>
                  <md-card-content>
                      <section *ngIf="errorMessage" class="bs">
                          <div class="bd-example" data-example-id="">
                              <div class="alert alert-danger" role="alert">
                                  <strong>{{errorMessage}}</strong> 
                             </div>
                          </div><br>
                      </section>       
                    <md-input-container>
                      <input mdInput type="text" #username placeholder="Usuario" value="" required>
                    </md-input-container>
                    <md-input-container>
                      <input mdInput type="password" #password placeholder="Contrase&ntilde;a" value="" required>
                    </md-input-container>
                    <p><a (click)="apretarRegistrar()">Registrarse</a></p>
                    <p><a (click)="apretarOlvido()">¿Olvido su contrase&ntilde;a?</a></p>
                  </md-card-content>
                  <md-card-actions>
                    <button md-raised-button color="primary" (click)="apretarLogin(username.value,password.value)">LOGIN</button>
                  </md-card-actions>
                </md-card>
                <br>
              </div>
            