<!--SECCION PERFIL USUARIO-->
<div *ngIf="getPerfilSeleccionado()" class="sign-container">
    <md-card class="page-card">
        <md-card-title>Perfil Usuario.
            <a class="example-tooltip-host" mdTooltip={{tooltipEditarUsuario}} [mdTooltipPosition]="position">
                <img src="assets/icons/editar.png" [routerLink]="['/modificarUsuario/']">
            </a>

            <a class="example-tooltip-host" mdTooltip={{tooltipEliminarUsuario}} [mdTooltipPosition]="position" (click)="apretarEliminarIcono()">
                <img src="assets/icons/delete.png">
            </a>

            <a class="example-tooltip-host" mdTooltip={{tooltipCambiarContrasenia}} [mdTooltipPosition]="position">
                    <img src="assets/icons/candado.png" [routerLink]="['/modificarContraseniaUsuario/']">
            </a>
        </md-card-title>
        <md-card-content>
            <section *ngIf="errorMessage" class="bs">
                <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{errorMessage}}</strong>
                    </div>
                </div><br>
            </section>
            <img src="assets/img/avatar2.png" class="img-circle"><br>
            <label>{{usuarioActual.usuario}}</label><br><br>

            <h2>Datos Personales.</h2>

            <label id="atributo" >Nombre:</label>
            <label >{{usuarioActual.nombre}}.</label><br>

            <label id=atributo >Apellido:</label>
            <label id=valor >{{usuarioActual.apellido}}.</label><br>

            <label id=atributo >Domicilio:</label>
            <label id=valor >{{usuarioActual.domicilio}}.</label><br>

            <label id=atributo >Fecha de Nacimiento:</label>
            <label id=valor >{{usuarioActual.fechaNacimiento}}.</label><br>

            <label id=atributo >Email:</label>
            <label id=valor >{{usuarioActual.email}}.</label><br>

            <label id=atributo >DNI:</label>
            <label id=valor >{{usuarioActual.dni}}.</label><br>

            <label id=atributo >CUIT:</label>
            <label id=valor >{{usuarioActual.cuit}}.</label><br>
        </md-card-content>
    </md-card>

</div>