<!--SECCION PERFIL FINCA-->
<div *ngIf="getPerfilFincaSeleccionada()" class="sign-container">
        <md-card class="page-card">
                <md-card-title>Perfil Finca
                        <a class="example-tooltip-host" mdTooltip={{tooltipEditarFinca}} [mdTooltipPosition]="position"
                                (click)="apretarEditarIcono()"><img src="assets/icons/editar.png">
                        </a>
                        <a class="example-tooltip-host" mdTooltip={{tooltipEliminarFinca}} [mdTooltipPosition]="position"
                                (click)="apretarEliminarIcono()"><img src="assets/icons/delete.png">
                                
                        </a>
                </md-card-title>
                <md-card-content>         
                        <section *ngIf="errorMessagePerfilFinca" class="bs">
                                <div class="bd-example" data-example-id="">
                                        <div class="alert alert-danger" role="alert">
                                                <strong>{{errorMessagePerfilFinca}}</strong>
                                        </div>
                                </div><br>
                        </section>

                        <h2>Datos Finca</h2>

                        <label id="atributo" class="col-2">Nombre: </label>
                        <label class="col-3">{{perfilFinca.nombre}}</label><br>

                        <label id=atributo class="col-2">Direcci&oacute;n: </label>
                        <label id=valor class="col-3">{{perfilFinca.direccionLegal}}</label><br>
                        
                        <label id=atributo class="col-2">Ubicaci&oacute;n: </label>
                        <label id=valor class="col-3">{{perfilFinca.ubicacion}}</label><br>

                        <label id=atributo class="col-2">Tama&ntilde;o: </label>
                        <label id=valor class="col-3">{{perfilFinca.tamanio }} hect&aacute;reas</label><br>

                </md-card-content>

        <!--SECCION USUARIOS FINCA-->
                <md-card class="page-card">
                        <md-card-title>
                                Usuarios Finca
                                <a class="example-tooltip-host" mdTooltip={{tooltipAgregarUsuario}} [mdTooltipPosition]="position"
                                        (click)="apretarAgregarIcono()"><img src="assets/icons/nuevoUsuario.png">
                                </a>
                        </md-card-title>
                        <md-card-content>
                                <section *ngIf="errorMessageUsuarioFinca" class="bs">
                                        <div class="bd-example" data-example-id="">
                                                <div class="alert alert-danger" role="alert">
                                                        <strong>{{errorMessageUsuarioFinca}}</strong>
                                                </div>
                                        </div><br>
                                </section>
                                <section *ngIf="getUsuariosFincaSeleccionado()" class="bs">
                                        <table class="table table-striped table-hover table-card">
                                                <thead>
                                                        <tr>
                                                                <th style="width:37%;">Nombre</th>
                                                                <th style="width:36%;">Tama&ntilde;o</th>
                                                                <th>Ubicaci&oacute;n</th>
                                                                <th class="actions">Acci&oacute;n</th>
                                                        </tr>
                                                </thead>
                                                <!--<tbody>
                                                        <tr *ngFor="let fincaEncargado of fincasEncargado">
                                                <td>{{fincaEncargado.nombre}}</td>
                                                <td>{{fincaEncargado.tamanio}}</td>
                                                <td>{{fincaEncargado.ubicacion}}</td>
                                                <td>
                                                <a class="example-tooltip-host" mdTooltip={{tooltipVer}} [mdTooltipPosition]="position">
                                                <img src="assets/icons/ver.png" [routerLink]="['/homeFincaDetalle/', fincaEncargado.idFinca]">
                                                
                                                </a>
                                                </td>
                                                </tr>
        
                                                </tbody>-->
                                        </table>
                                </section>
                        </md-card-content>
                </md-card>
        </md-card>

</div>

                

<!--SECCION MODIFICAR FINCA-->
<div *ngIf="getEditarFinca()" class="sign-container">


        
        
                <md-card class="page-card">
                        <md-card-title>Modificar Finca</md-card-title>
                        <md-card-content>
                                <section *ngIf="errorMessageEditarFinca" class="bs">
                                        <div class="bd-example" data-example-id="">
                                                <div class="alert alert-danger" role="alert">
                                                        <strong>{{errorMessageEditarFinca}}</strong>
                                                </div>
                                        </div><br>
                                </section>
        
                                <h2>Datos Finca</h2>
        
                                <md-input-container>
                                        <input mdInput placeholder="Nombre"  type="text" [(ngModel)]="nombre" name="nombre"   required><br>
                                </md-input-container>
        
                                <md-input-container>
                                        <input mdInput placeholder="Direcci&oacute;n" type="text" [(ngModel)]="direccion" name="direccion"  required><br>
                                </md-input-container>
        
                                <md-input-container>
                                        <input mdInput placeholder="Ubicaci&oacute;n" type="text" [(ngModel)]="ubicacion" name="ubicacion"  required><br>
                                </md-input-container>
        
                                <md-input-container>
                                        <input mdInput placeholder="Tama&ntilde;o en hect&aacute;reas" type="number" [(ngModel)]="tamanio" name="tamanio"  required><br>
                                </md-input-container>
        
                                
                        </md-card-content>
                        <md-card-actions>
                                <button md-raised-button (click)="apretarModificarFinca()">MODIFICAR</button>
                                <button md-raised-button (click)="apretarSalir()">SALIR</button>
                        </md-card-actions>
                        <md-card-footer></md-card-footer>
                </md-card>
        
        </div>
        