<!--SECCION CREAR SENSOR-->
<div *ngIf="getPermisoCrearSensor()" class="sign-container">
    <md-card class="page-card">
        <md-card-title>Crear Sensor</md-card-title>
        <md-card-content>
            <section *ngIf="errorMessageCrearSensor" class="bs">
                <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{errorMessageCrearSensor}}</strong>
                    </div>
                </div><br>
            </section>                
                <h2>Datos Sensor.</h2><br>

                <md-select placeholder="Seleccionar Tipo Medicion." [(ngModel)]="tipoMedicion" name="tipoMedicion">
                    <md-option *ngFor="let medicion of mediciones" [value]="medicion.idTipoMedicion" requerid>
                        {{medicion.nombreTipoMedicion}}
                    </md-option>
                </md-select>
                <br><br>

                <md-input-container>
                    <input mdInput placeholder="Modelo Sensor." type="text" [(ngModel)]="modeloSensor" name="modeloSensor" required maxlength="200"><br>
                </md-input-container>


        </md-card-content>
        <md-card-actions>
            <button md-raised-button (click)="apretarCrearSensor()">CREAR</button>
            <button md-raised-button (click)="apretarSalir()">SALIR</button>
        </md-card-actions>

    </md-card>

</div>