<!--SECCION REPORTE ESTADO ACTUAL SECTOR-->
<div *ngIf="getPermisoGenerarReporteEstadoActual()" class="page-content">
    <md-card class="page-card">
        <md-card-title>Reporte Estado Actual Sector</md-card-title>
        <md-card-content>
            <section *ngIf="errorMessageReporte" class="bs">
                <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{errorMessageReporte}}</strong>
                    </div>
                </div><br>
            </section>

            <section *ngIf="getEstadoActualSeleccionado()" class="bs">
                <h5>Informaci&oacute;n General Reporte.</h5>
                    <label id="atributo">Nombre: </label>
                    <label>{{nombreReporte}}</label><br>

                    <label id="atributo">Descripci&oacute;n: </label>
                    <label>{{descripcionReporte}}</label><br>
                    
                    <label id="atributo">Fecha creaci&oacute;n: </label>
                    <label>{{fecha | date: 'dd-MM-yyyy'}}.</label><br>

                    <label id="atributo">Hora creaci&oacute;n: </label>
                    <label>{{hora | date: 'hh:mm:ss'}}.</label><br><br><br>
                
                <h5>Detalle Reporte</h5>
                    <label id="atributo">Humedad del aire (%): </label>
                    <label>{{humedadAire}}.</label><br>
                    
                    <label id="atributo">Humedad del suelo (%): </label>
                    <label>{{humedadSuelo}}.</label><br>

                    <label id="atributo">Temperatura del suelo (°C): </label>
                    <label>{{temperaturaSuelo}}.</label><br>

                    <label id="atributo">Temperatura del aire (°C): </label>
                    <label>{{temperaturaAire}}.</label><br>

                    <label id="atributo">Radiaci&oacute;n solar (W/m2): </label>
                    <label>{{radiacionSolar}}.</label><br>

                    <label id="atributo">Presi&oacute;n atmosf&eacute;rica (hPa): </label>
                    <label>{{presionAtmosferica}}.</label><br>

                    <label id="atributo">Condici&oacute;n clim&aacute;tica: </label>
                    <label>{{condicionClimatica}}</label>
            </section>
        </md-card-content>
        <md-card-actions>
                <button md-raised-button (click)="apretarSalir()">SALIR</button>
        </md-card-actions>
    </md-card>
</div>