<!--SECCION PERFIL USUARIO-->
<div *ngIf="getPerfilSeleccionado()" class="page-content">
        <md-card class="page-card">
                <md-card-title>Perfil Usuario
                        <a (click)="apretarEditarIcono()"><img src="assets/icons/editar.png"></a>
                        <a (click)="apretarEliminarIcono()"><img src="assets/icons/delete.png"></a>
                </md-card-title>
                <md-card-content>
                                <section *ngIf="errorMessage" class="bs">
                                                <div class="bd-example" data-example-id="">
                                                  <div class="alert alert-danger" role="alert">
                                                    <strong>{{errorMessage}}</strong>
                                                  </div>
                                                </div><br>
                                </section>
                        <img src="assets/img/avatar2.png" class="img-circle"><br>
                        <label>{{usuarioActual.usuario}}</label><br><br>

                        <h2>Datos Personales</h2>

                        <!--<button (click)="apretarEditar()">Editar</button><br>
                        <button type="button">Eliminar Usuario</button><br>
                        <button (click)="apretarCambiarContrasenia()">Cambiar Contrase&ntilde;a</button><br>-->

                        <label id="atributo" class="col-2">Nombre:</label>
                        <label class="col-3">{{usuarioActual.nombre}}</label><br>

                        <label id=atributo class="col-2">Apellido:</label>
                        <label id=valor class="col-3">{{usuarioActual.apellido}}</label><br>

                        <label id=atributo class="col-2">Domicilio:</label>
                        <label id=valor class="col-3">{{usuarioActual.domicilio}}</label><br>

                        <label id=atributo class="col-2">Fecha de Nacimiento:</label>
                        <label id=valor class="col-3">{{usuarioActual.fechaNacimiento}}</label><br>

                        <label id=atributo class="col-2">Email:</label>
                        <label id=valor class="col-3">{{usuarioActual.email}}</label><br>

                        <label id=atributo class="col-2">DNI:</label>
                        <label id=valor class="col-3">{{usuarioActual.dni}}</label><br>

                        <label id=atributo class="col-2">CUIT:</label>
                        <label id=valor class="col-3">{{usuarioActual.cuit}}</label><br>
                </md-card-content>
        </md-card>

</div>

<md-card *ngIf="getEditarUsuario()" class="page-card">
        <md-card-title>Modificar Usuario</md-card-title>
        <md-card-content>
                <section *ngIf="errorMessage" class="bs">
                        <div class="bd-example" data-example-id="">
                                <div class="alert alert-danger" role="alert">
                                        <strong>{{errorMessage}}</strong>
                                </div>
                        </div><br>
                </section>

                <h2>Datos Personales</h2>

                <md-input-container>
                        <input mdInput placeholder="Usuario" type="text" [(ngModel)]="usuario" name="usuario" required><br>
                </md-input-container>

                <md-input-container>
                        <input mdInput placeholder="Nombre" type="text" [(ngModel)]="nombre" name="nombre" required><br>
                </md-input-container>

                <md-input-container>
                        <input mdInput placeholder="Apellido" type="text" [(ngModel)]="apellido" name="apellido" required><br>
                </md-input-container>

                <md-input-container>
                        <input mdInput placeholder="Email" type="email" [(ngModel)]="email" name="email" required><br>
                </md-input-container>

                <md-input-container>
                        <input mdInput placeholder="Fecha Nacimiento" type="date" [(ngModel)]="fechaNacimiento" name="fechaNacimiento"><br>
                </md-input-container>

                <md-input-container>
                        <input mdInput placeholder="DNI" type="number" [(ngModel)]="dni" name="dni"><br>
                </md-input-container>

                <md-input-container>
                        <input mdInput placeholder="CUIT" type="number" [(ngModel)]="cuit" name="cuit"><br>
                </md-input-container>

                <md-input-container>
                        <input mdInput placeholder="Direcci&oacute;n" type="text" [(ngModel)]="direccion" name="direccion"><br>
                </md-input-container>


        </md-card-content>
        <md-card-actions>
                <button md-raised-button (click)="apretarModificarUsuario()">MODIFICAR</button>
                <button md-raised-button (click)="apretarSalir()">SALIR</button>
        </md-card-actions>
        <md-card-footer></md-card-footer>
</md-card>






<div *ngIf="editar" class="page-content">
        <h2 md-line>Editar Usuario</h2>
        <form>
                <div class="form-group row">
                        <label for="usuario" class="col-sm-1 col-form-label">Usuario</label>
                        <div class="col-sm-5">
                                <input type="text" class="form-control" #usuario id="usuario" placeholder="{{usuarioActual.usuario}}">
                        </div>
                </div>

                <div class="form-group row">
                        <label for="nombre" class="col-sm-1 col-form-label">Nombre</label>
                        <div class="col-sm-5">
                                <input type="text" class="form-control" #nombre id="nombre" placeholder="{{usuarioActual.nombre}}">
                        </div>
                </div>
                <div class="form-group row">
                        <label for="apellido" class="col-sm-1 col-form-label">Apellido</label>
                        <div class="col-sm-5">
                                <input type="text" class="form-control" #apellido id="apellido" placeholder="{{usuarioActual.apellido}}">
                        </div>
                </div>
                <div class="form-group row">
                        <label for="domicilio" class="col-sm-1 col-form-label">Domicilio</label>
                        <div class="col-sm-5">
                                <input type="text" class="form-control" #domicilio id="domicilio" placeholder="{{usuarioActual.domicilio}}">
                        </div>
                </div>
                <div class="form-group row ">
                        <label for="fechaNacimiento" class="col-sm-1 col-form-label">Fecha de Nacimiento</label>
                        <div class="col-sm-5">
                                <input type="text" class="form-control" #fechaNac id="fechaNacimiento" placeholder="{{usuarioActual.fechaNacimiento}}">
                        </div>
                </div>
                <div class="form-group row">
                        <label for="email" class="col-sm-1 col-form-label">Email</label>
                        <div class="col-sm-5">
                                <input type="email" class="form-control" #email id="email" placeholder="{{usuarioActual.email}}">
                        </div>
                </div>

                <div class="form-group row">
                        <label for="dni" class="col-sm-1 col-form-label">DNI</label>
                        <div class="col-sm-5">
                                <input type="number" class="form-control" #dni id="dni" placeholder="{{usuarioActual.dni}}">
                        </div>
                </div>
                <div class="form-group row">
                        <label for="cuit" class="col-sm-1 col-form-label">CUIT</label>
                        <div class="col-sm-5">
                                <input type="number" class="form-control" #cuit id="cuit" placeholder="{{usuarioActual.cuit}}">
                        </div>
                </div>
                <button type="button" class="btn btn-success" (click)="apretarModificar(usuario.value,nombre.value,apellido.value,domicilio.value,
                                                  fechaNac.value,email.value,dni.value,cuit.value)">Modificar</button>
                <button type="button" class="btn btn-danger" (click)="apretarCancelarModificacion()">Cancelar</button>

        </form>
</div>

<div *ngIf="cambiarContrasenia" class="page-content">
        <h2 md-line>Modificar Contrase&ntilde;a</h2>
        <form>
                <div class="form-group row">
                        <label for="contraseniaActual" class="col-sm-1 col-form-label">Contrase&ntilde;a Actual</label>
                        <div class="col-sm-5">
                                <input type="password" class="form-control" #passVieja id="contraseniaActual" placeholder="Contrase&ntilde;a Actual">
                        </div>
                </div>
                <div class="form-group row">
                        <label for="contraseniaNueva1" class="col-sm-1 col-form-label">Contrase&ntilde;a Nueva</label>
                        <div class="col-sm-5">
                                <input type="password" class="form-control" #passNueva1 id="contraseniaNueva1" placeholder="Contrase&ntilde;a nueva">
                        </div>
                </div>
                <div class="form-group row">
                        <label for="contraseniaNueva2" class="col-sm-1 col-form-label">Repetir Contrase&ntilde;a </label>
                        <div class="col-sm-5">
                                <input type="password" class="form-control" #passNueva2 id="contraseniaNueva2" placeholder="Repetir Contrase&ntilde;a">
                        </div>
                </div>
                <button type="button" class="btn btn-danger" (click)="apretarCancelarContrasenia()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="apretarModificarContrasenia(passVieja.value,passNueva1.value,passNueva2.value)">Modificar</button>
        </form>
</div>