<!--SECCION MODIFICAR FINCA-->
<div *ngIf="getPermisoGestionarFinca()" class="sign-container">

    <md-card class="page-card">
        <md-card-title>Modificar Finca</md-card-title>
        <md-card-content>
            <section *ngIf="errorMessage" class="bs">
                <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{errorMessage}}</strong>
                    </div>
                </div><br>
            </section>

            <h2>Datos Finca.</h2>
            <p>Los campos con (*) son obligatorios.</p>
            <md-input-container>
                <input mdInput placeholder="Nombre." type="text" [(ngModel)]="nombre" name="nombre" required maxlength="30"><br>
            </md-input-container>

            <md-input-container>
                <input mdInput placeholder="Direcci&oacute;n." type="text" [(ngModel)]="direccion" name="direccion" required maxlength="50"><br>
            </md-input-container>

            <!--UBICACION-->
            <md-input-container>
                <input mdInput placeholder="Buscar localidad." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                    #search [formControl]="searchControl" required>
            </md-input-container>

            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>

            <md-input-container>
                <input mdInput placeholder="Tama&ntilde;o en hect&aacute;reas." type="number" [(ngModel)]="tamanio" name="tamanio" required maxlength="5"><br>
            </md-input-container>


        </md-card-content>
        <md-card-actions>
            <button md-raised-button (click)="apretarModificarFinca()">MODIFICAR</button>
            <button md-raised-button (click)="apretarSalir()">SALIR</button>
        </md-card-actions>
        <md-card-footer></md-card-footer>
    </md-card>

</div>