<!--SECCION ASIGNAR CULTIVO SECTOR-->
<div *ngIf="getperfilCultivo()" class="sign-container">
    <md-card class="page-card">
            <md-card-title>Cultivo</md-card-title>
            <md-card-subtitle>
                En esta secci&oacute;n el Encargado de la Finca puede asignar cultivos al sector.
            </md-card-subtitle>            
            <md-card-content>         
                    <section *ngIf="errorMessageCultivo" class="bs">
                            <div class="bd-example" data-example-id="">
                                    <div class="alert alert-danger" role="alert">
                                            <strong>{{errorMessageCultivo}}</strong>
                                    </div>
                            </div><br>
                    </section>

                    <section *ngIf="getCultivoSectorSeleccionado()" class="bs">
                      
                    <table class="table table-striped table-hover table-card">
                      <thead>
                        <tr>
                          <th>Nombre Tipo</th>
                          <th >Nombre SubTipo</th>
                          <th class="actions">Acci&oacute;n</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cultivo of cultivos">
                          <td>{{cultivo.nombreTipo}}</td>
                          <td>{{cultivo.nombreSubtipo}}</td>
                          <td>
                            <a class="example-tooltip-host" mdTooltip={{tooltipAgregarCultivo}} [mdTooltipPosition]="position">
                                <img src="assets/icons/agregarCultivo.png" (click)="apretarAgregarIcono(cultivo.nombreSubtipo)">
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    </section>
            </md-card-content>

    </md-card>

</div>

<!--SECCION AGREGAR CULTIVO SECTOR-->
<div *ngIf="getPerfilAgregarCultivo() && getPermisoAsignarCultivo()" class="page-content">
  <md-card><br>
    <md-card-title>Agregar Cultivo</md-card-title>
    <md-card-content>
      <md-tab-group selectedIndex="{{selectIndex}}">
        <md-tab disabled label="Paso 1">
          <div class="tab-body-content">
            <h3>
              <small>Datos Cultivo.</small>
            </h3>
            <p>Los campos con (*) son obligatorios.</p>
            <section *ngIf="errorMessageAgregarCultivo" class="bs">
              <div class="bd-example" data-example-id="">
                <div class="alert alert-danger" role="alert">
                  <strong>{{errorMessageAgregarCultivo}}</strong>
                </div>
              </div><br>
            </section>
            
            <md-input-container>  
              <input mdInput placeholder="Nombre cultivo." type="text" [(ngModel)]="nombreCultivo" name="nombreCultivo" required maxlength="30">
            </md-input-container>

            <md-input-container>  
              <input mdInput placeholder="Descripci&oacute;n cultivo." type="text" [(ngModel)]="descripcion" name="descripcion" required maxlength="100">
            </md-input-container>
            
            <md-input-container>  
              <input mdInput placeholder="Cantidad de plantas." type="text" [(ngModel)]="cantidadPlantas" name="cantidadPlantas" required maxlength="6">
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="Fecha Plantaci&oacute;n." type="date" [(ngModel)]="fechaPlantacion" name="fechaPlantacion" required>
            </md-input-container>


          </div>
        </md-tab>
        
        <md-tab disabled label="Paso 2">
          <div class="tab-body-content">
            <h4>Resumen Registraci&oacute;n.</h4>
            <section *ngIf="errorMessageAgregarCultivo" class="bs">
                <div class="bd-example" data-example-id="">
                  <div class="alert alert-danger" role="alert">
                    <strong>{{errorMessageAgregarCultivo}}</strong>
                  </div>
                </div><br>
              </section>

          <label id="atributo">Nombre Cultivo: </label>
          <label>{{nombreCultivo}}.</label><br><br>
          <label id="atributo">SubTipo: </label>
          <label>{{nombreSubtipoCultivo}}.</label><br><br>
          <label id="atributo">Descripci&oacute;n: </label>
          <label>{{descripcion}}.</label><br><br>
          <label id="atributo">Cantidad de plantas: </label>
          <label>{{cantidadPlantas}} plantas.</label><br><br>
          <label id="atributo">Fecha Plantaci&oacute;n: </label>
          <label>{{fechaPlantacion}}.</label><br><br>
        
        </div>
        </md-tab>
      </md-tab-group>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button [disabled]="selectIndex <= 0" (click)="selectIndex = selectIndex - 1">ATR&Aacute;S</button>
      <button *ngIf="selectIndex ==0" md-raised-button (click)="apretarNextAsignar()" >SIGUIENTE</button>
      <button *ngIf="selectIndex == 1" md-raised-button (click)="apretarAgregaCultivo()">ASIGNAR</button>
      <button md-raised-button (click)="apretarSalir()">SALIR</button>
    </md-card-actions>
  </md-card>

</div>