<!--SECCION HOME SECTOR-->
<div *ngIf="getPermisoModificarConfiguracionRiego()" class="page-content">
    <md-card class="page-card">
        <md-card-title>
            Home Configuraci&oacute;n de Riego
            <a *ngIf="getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipEditarConfiguracion}} [mdTooltipPosition]="position">
                <img src="assets/icons/editar.png" [routerLink]="['/gestionarConfiguracionRiego/']">
            </a>

            <a *ngIf="getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipCambiarEstadoConfiguracion}} [mdTooltipPosition]="position">
                <img src="assets/icons/cambiar.png" (click)="apretarCambiarEstadoConfiguracionRiego()">
            </a>

            <a *ngIf="getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipEliminarConfiguracion}} [mdTooltipPosition]="position">
                <img src="assets/icons/delete.png" (click)="apretarEliminarConfiguracion()">
            </a>
            <a id="botonVolver" class="example-tooltip-host" mdTooltip={{tooltipAtras}} [mdTooltipPosition]="position" (click)="apretarAtras()">
                <img src="assets/icons/atras.png">
            </a>
        </md-card-title>
        <md-card-content>
                <section *ngIf="errorEliminarConfiguracionRiego" class="bs">
                        <div class="bd-example" data-example-id="">
                            <div class="alert alert-danger" role="alert">
                                <strong>{{errorEliminarConfiguracionRiego}}</strong>
                            </div>
                        </div><br>
                </section>
            <!--SECCION CRITERIO INICIAL-->
            <md-card *ngIf="getPermisoModificarConfiguracionRiego()" class="page-card">
                <md-card-title>
                    Criterio de Inicio.
                    <a *ngIf="!getExisteCriterioInicial() && getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipAgregarCriterioInicial}} [mdTooltipPosition]="position">
                            <img src="assets/icons/nuevo.png" [routerLink]="['/agregarCriterioInicial/']" >
                </a>

                </md-card-title>
                <md-card-content>
                    <section *ngIf="errorMessageCriterioInicialRiego" class="bs">
                        <div class="bd-example" data-example-id="">
                            <div class="alert alert-danger" role="alert">
                                <strong>{{errorMessageCriterioInicialRiego}}</strong>
                            </div>
                        </div><br>
                    </section>
                    <section *ngIf="getExisteCriterioInicial()" class="bs">
                        <table class="table table-striped table-hover table-card">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo Criterio</th>
                                    <th>Activaci&oacute;n</th>
                                    <th class="actions">Acci&oacute;n</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let criterio of criterioInicialRiego">
                                <td>{{criterio.nombre}}.</td>
                                <td>{{tipoCriterioEncontrado}}</td>
                                <td *ngIf="tipoCriterioEncontrado=='Medición.'">{{criterio.tipoMedicion}} {{operadorInicial}} {{criterio.valor}} {{criterio.unidadMedicion}}.</td>
                                <td *ngIf="tipoCriterioEncontrado=='Hora.'">D&iacute;a = {{criterio.numeroDia}}    Hora:{{criterio.hora}}.</td>
                                <td>

                                    <a *ngIf="getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipModificarCriterioInicial}} [mdTooltipPosition]="position">
                                        <img src="assets/icons/editar.png" (click)="apretarEditarCriterioRiego(criterio.id_criterio_riego,criterio.tipo_criterio_riego)">                                                        
                                    </a>
                                    <a *ngIf="getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipEliminarCriterioInicial}} [mdTooltipPosition]="position">
                                        <img src="assets/icons/delete.png" (click)="apretarEliminarCriterioRiego(criterio.id_criterio_riego,'inicio')">                                                        
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                        </table>

                    </section>
                </md-card-content>
            </md-card>

            <!--SECCION CRITERIO DE FINALIZACION-->
            <md-card *ngIf="getPermisoModificarConfiguracionRiego()" class="page-card">
                <md-card-title>
                    Criterio de Finalizaci&oacute;n
                    <a *ngIf="!getExisteCriterioFinal() && getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipAgregarCriterioFinal}} [mdTooltipPosition]="position">
                            <img src="assets/icons/nuevo.png" [routerLink]="['/agregarCriterioFinal/']" >
                </a>
                </md-card-title>
                <md-card-content>
                    <section *ngIf="errorMessageCriterioFinalRiego" class="bs">
                        <div class="bd-example" data-example-id="">
                            <div class="alert alert-danger" role="alert">
                                <strong>{{errorMessageCriterioFinalRiego}}</strong>
                            </div>
                        </div><br>
                    </section>
                    <section *ngIf="getPerfilCriterioFinalSeleccionado()" class="bs">
                        <table class="table table-striped table-hover table-card">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo Criterio</th>
                                    <th>Activaci&oacute;n</th>
                                    <th class="actions">Acci&oacute;n</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let criterioFinal of criterioFinalRiego">
                                <td>{{criterioFinal.nombre}}.</td>
                                <td>{{tipoCriterioFinalEncontrado}}</td>
                                <td *ngIf="tipoCriterioFinalEncontrado=='Medición.'">{{criterioFinal.tipoMedicion}} {{operadorFinal}} {{criterioFinal.valor}} {{criterioFinal.unidadMedicion}}.</td>
                                <td *ngIf="tipoCriterioFinalEncontrado=='Hora.'">D&iacute;a = {{criterioFinal.numeroDia}} Hora:{{criterioFinal.hora}}.</td>
                                <td *ngIf="tipoCriterioFinalEncontrado=='Por volumen de agua.'">Volumen = {{criterioFinal.volumen}} litros.</td>
                                <td>
                                    <a *ngIf="getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipModificarCriterioFinal}} [mdTooltipPosition]="position">
                                        <img src="assets/icons/editar.png" (click)="apretarEditarCriterioRiego(criterioFinal.id_criterio_riego,criterioFinal.tipo_criterio_riego)">                                                        
                                    </a>
                                    <a *ngIf="getPermisoModificarConfiguracionRiego()" class="example-tooltip-host" mdTooltip={{tooltipEliminarCriterioFinal}} [mdTooltipPosition]="position">
                                        <img src="assets/icons/delete.png" (click)="apretarEliminarCriterioRiego(criterioFinal.id_criterio_riego,'fin')">                                                        
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                        </table>
                    </section>
                </md-card-content>
            </md-card>
        </md-card-content>
    </md-card>
</div>