<!--SECCION PERFIL AGREGAR USUARIO-->
<div *ngIf="getperfilMecanismoRiegoSeleccionado() && getPermisoAsignarMecanismoFinca()" class="sign-container">
    <md-card class="page-card">
            <md-card-title>Mecanismo de Riego no pertenecientes a la Finca</md-card-title>
            <md-card-subtitle>
                En esta secci&oacute;n el Encargado de la Finca puede agregar mecanismos de riego a su finca.
            </md-card-subtitle>            
            <md-card-content>         
                    <section *ngIf="errorMessagePerfilMecanismo" class="bs">
                            <div class="bd-example" data-example-id="">
                                    <div class="alert alert-danger" role="alert">
                                            <strong>{{errorMessagePerfilMecanismo}}</strong>
                                    </div>
                            </div><br>
                    </section>

                    <section *ngIf="getMecanismoRiegoSeleccionado()" class="bs">
                      
                    <table class="table table-striped table-hover table-card">
                      <thead>
                        <tr>
                          <th >Nombre</th>
                          <th >Descripci&oacute;n</th>
                          <th>Eficiencia (X 100%)</th>
                          <th class="actions">Acci&oacute;n</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let mecanismoRiego of mecanismosRiego">
                          <td>{{mecanismoRiego.nombreMecanismo}}.</td>
                          <td>{{mecanismoRiego.descripcion}}.</td>
                          <td>{{mecanismoRiego.eficiencia}}.</td>
                          <td>
                              <a *ngIf="getPermisoAsignarMecanismoFinca()"class="example-tooltip-host" mdTooltip={{tooltipAgregarMecanismo}} [mdTooltipPosition]="position" 
                                 (click)="apretarAgregarIcono(mecanismoRiego.nombreMecanismo)">
                                  <img src="assets/icons/agregarMecanismo.png">
                              </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    </section>
            </md-card-content>

    </md-card>

</div>

<!--SECCION AGREGAR MECANISMO FINCA-->
<div *ngIf="getAgregarMecanismoFinca() && getPermisoAsignarMecanismoFinca()" class="sign-container">
    
        <md-card class="page-card">
            <md-card-title>Agregar Mecanismo.</md-card-title>
            <md-card-content>
                <section *ngIf="errorMessageAgregarMecanismoFinca" class="bs">
                    <div class="bd-example" data-example-id="">
                        <div class="alert alert-danger" role="alert">
                            <strong>{{errorMessageAgregarMecanismoFinca}}</strong>
                        </div>
                    </div><br>
                </section>
    
                <h2>Datos Mecanismo.</h2>

                <label id=atributo class="col-2">Mecanismo de Riego: </label>
                <label id=valor class="col-3">{{nombreMecanismo}}.</label><br><br>             

                <md-input-container>
                    <input mdInput placeholder="Direcci&oacute;n IP Mecanismo." type="text" [(ngModel)]="ip" name="ip" required><br>
                </md-input-container>
      
    
            </md-card-content>
            <md-card-actions>
                <button md-raised-button (click)="apretarAgregarMecanismo()">AGREGAR</button>
                <button md-raised-button (click)="apretarSalir()">SALIR</button>
            </md-card-actions>
            <md-card-footer></md-card-footer>
        </md-card>
    
    </div>