//----------------------------------------------------------------------------------------------------------------------
// Global style configuration
//----------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------
// Core style sheet
//---------------------------------------------------------
@import "app/app.theme.bootstrap";
@import "app/app.theme.material";
//---------------------------------------------------------
// Custom style sheet
// You can write your style sheet in this file,
// or import 3rd party plugin style sheet here.
//---------------------------------------------------------
@import "app/app.theme.custom";


ng2-smart-table table * {
    box-sizing: border-box
}
ng2-smart-table table {
    background: #FFF;
}
ng2-smart-table table th {
    font-weight: 100;
}
ng2-smart-table table tbody tr:nth-child(odd) {
    background-color: #efefef;
}
ng2-smart-table table tbody tr {
    height: 36px;
}
ng2-smart-table table thead * {
    color: #000 !important;
    font-weight: normal;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}
ng2-smart-table table thead tr:first-child th {
    background-color: #009688;
    color: #FFF !important;
    font-size: 1em;
    height: 50px;
}
ng2-smart-table table thead input {
    color: #1A1F25 !important;
}

ng2-smart-table table thead tr:last-child th:first-child,
ng2-smart-table table tr td.ng2-smart-actions {
    text-align: center
}
