<!--SECCION REPORTE HISTORICO HELADAS-->
<div *ngIf="getPermisoGenerarReporteHeladas()"class="page-content">
    <md-card class="page-card">
        <md-card-title>Reporte Hist&oacute;rico Heladas.</md-card-title>
        <md-card-content>
            <section *ngIf="errorMessageReporte" class="bs">
                <div class="bd-example" data-example-id="">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{errorMessageReporte}}</strong>
                    </div>
                </div><br>
            </section>

            <section *ngIf="!getHeladasExistentes()" >
                <md-input-container  >
                    <input mdInput placeholder="Fecha Inicio." type="date" [(ngModel)]="fechaInicioReporte" name="fechaInicioReporte" required><br>
                </md-input-container>
                <md-input-container   >
                    <input  mdInput placeholder="Fecha Fin." type="date" [(ngModel)]="fechaFinReporte" name="fechaFinReporte" requerid><br>
                </md-input-container>
                <button md-raised-button (click)="apretarGenerarReporte()">GENERAR.</button>
                <button md-raised-button *ngIf="!getHeladasExistentes()"(click)="apretarSalir()">SALIR.</button>
            </section>

            <section *ngIf="getHeladasExistentes()" class="bs">
                <h5>Informaci&oacute;n General Reporte.</h5>
                <label id="atributo">Nombre: </label>
                <label>{{nombreReporte}}</label><br>

                <label id="atributo">Descripci&oacute;n: </label>
                <label>{{descripcionReporte}}</label><br>

                <label id="atributo">Fecha creaci&oacute;n: </label>
                <label>{{fechaActual}}.</label><br>

                <label id="atributo">Hora creaci&oacute;n: </label>
                <label>{{horaActual}}.</label><br><br>

                <h5>Detalle Reporte</h5>
                <label id="atributo">Fecha inicio reporte: </label>
                <label>{{fechaInicioReporte}}.</label><br>

                <label id="atributo">Fecha fin reporte: </label>
                <label>{{fechaFinReporte}}.</label><br><br>

                <table class="table table-striped table-hover table-card">
                    <thead>
                        <tr>
                            <th>Fecha.</th>
                            <th>horaInicio.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let helada of heladas">
                            <td>{{helada.fechaInicioSector}}.</td>
                            <td>{{helada.fechaFinSector}}.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button *ngIf="getHeladasExistentes()" (click)="apretarSalir()">SALIR.</button>
        </md-card-actions>
    </md-card>
</div>