<!--SECCION HOME FINCA-->
<div class="page-content">
  
  <md-card class="page-card">
    <md-card-title>
      Resumen de Fincas
    </md-card-title>
    <md-card-subtitle>En esta secci&oacute;n el usuario puede crear y observar las fincas que tiene asignada con distintos roles.</md-card-subtitle>
    <md-card-content>
      <h3>
        <small>¿Desea crear una finca?</small>
        <a class="example-tooltip-host" mdTooltip={{tooltipCrearFinca}} [mdTooltipPosition]="position" md-icon-button (click)="apretarNuevaFincaIcono()">
          <!--<md-icon>fiber_new</md-icon>-->
          <img src="assets/icons/nuevo.png">
        </a>

      </h3>

    </md-card-content>

    <!--SECCION FINCA ENCARGADO-->
    <md-card class="page-card">
      <md-card-title>
        Fincas con Rol Encargado
      </md-card-title>
      <md-card-content>
        <section *ngIf="errorMessageFincasEncargado" class="bs">
          <div class="bd-example" data-example-id="">
            <div class="alert alert-danger" role="alert">
              <strong>{{errorMessageFincasEncargado}}</strong>
            </div>
          </div><br>
        </section>
        <section *ngIf="getFincasEncargado()" class="bs">
          <table class="table table-striped table-hover table-card">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tama&ntilde;o</th>
                <th>Direcci&oacute;n</th>
                <th>Ubicaci&oacute;n</th>
                <th class="actions">Acci&oacute;n</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fincaEncargado of fincasEncargado">
                <td>{{fincaEncargado.nombreFinca}}.</td>
                <td>{{fincaEncargado.tamanio}} hect&aacute;reas.</td>
                <td>{{fincaEncargado.direccionLegal}}.</td>
                <td>
                  <ul>
                    <li>Latitud: {{fincaEncargado.ubicacion[0]}}.</li>
                    <li>Longitud: {{fincaEncargado.ubicacion[1]}}.</li>
                  </ul>
                </td>
                <td>
                  <a class="example-tooltip-host" mdTooltip={{tooltipVer}} [mdTooltipPosition]="position">
                  <img src="assets/icons/ver.png" (click)="apretarIconoVerFinca(fincaEncargado.idFinca,fincaEncargado.idUsuarioFinca,fincaEncargado.nombreFinca)">
                  
                </a>
                </td>
              </tr>

            </tbody>
          </table>
        </section>
      </md-card-content>
    </md-card>

    <!--SECCION FINCA OTRO ROL-->
    <md-card class="page-card">
      <md-card-title>
        Fincas con otro Roles
      </md-card-title>

      <md-card-content>
        <!-- <section *ngIf="errorMessageFincasUsuario" class="bs">
          <div class="bd-example" data-example-id="">
            <div class="alert alert-danger" role="alert">
              <strong>{{errorMessageFincasUsuario}}</strong>
            </div>
          </div><br>
        </section>
        <section *ngIf="getFincasUsuario()" class="bs">
          <md-input-container>
            <input mdInput #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)"><br>
          </md-input-container>
          <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
          
        </section>
      -->

        <section *ngIf="errorMessageFincasUsuario" class="bs">
          <div class="bd-example" data-example-id="">
            <div class="alert alert-danger" role="alert">
              <strong>{{errorMessageFincasUsuario}}</strong>
            </div>
          </div><br>
        </section>
        <section *ngIf="getFincasUsuario()" class="bs">
          <table class="table table-striped table-hover table-card">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Direcci&oacute;n</th>
                <th>Ubicaci&oacute;n</th>
                <th class="actions">Acci&oacute;n</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fincaSinRolEncargado of fincasSinRolEncargado">
                <td>{{fincaSinRolEncargado.nombreFinca}}.</td>
                <td>{{fincaSinRolEncargado.nombreRol}}.</td>
                <td>{{fincaSinRolEncargado.direccionLegal}}.</td>
                <td>
                  <ul>
                    <li>Latitud: {{fincaSinRolEncargado.ubicacion[0]}}.</li>
                    <li>Longitud: {{fincaSinRolEncargado.ubicacion[1]}}.</li>
                  </ul>
                </td>
                <td>
                  <a class="example-tooltip-host" mdTooltip={{tooltipVer}} [mdTooltipPosition]="position">
                <img src="assets/icons/ver.png" (click)="apretarIconoVerFinca(fincaSinRolEncargado.idFinca,fincaSinRolEncargado.idUsuarioFinca,fincaSinRolEncargado.nombreFinca)">
                
              </a>
                </td>
              </tr>

            </tbody>
          </table>
        </section>
      </md-card-content>
    </md-card>


    <!--SECCION FINCA PENDIENTE -->
    <md-card class="page-card">
      <md-card-title>
        Fincas Pendientes de Aprobaci&oacute;n
      </md-card-title>
      <md-card-content>
        <section *ngIf="errorMessageFincasPendientes" class="bs">
          <div class="bd-example" data-example-id="">
            <div class="alert alert-danger" role="alert">
              <strong>{{errorMessageFincasPendientes}}</strong>
            </div>
          </div><br>
        </section>
        <section *ngIf="getFincasPendientes()" class="bs">
          <table class="table table-striped table-hover table-card">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tama&ntilde;o</th>
                <th>Direcci&oacute;n</th>
                <th>Ubicaci&oacute;n</th>
                <!--<th class="actions">Acci&oacute;n.</th>-->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fincaPendientesAprobacion of fincasPendientesAprobacion">
                <td>{{fincaPendientesAprobacion.nombreFinca}}.</td>
                <td>{{fincaPendientesAprobacion.tamanio}} hect&aacute;reas.</td>
                <td>{{fincaPendientesAprobacion.direccionLegal}}.</td>
                <td>
                  <ul>
                    <li>Latitud: {{fincaPendientesAprobacion.ubicacion[0]}}.</li>
                    <li>Longitud: {{fincaPendientesAprobacion.ubicacion[1]}}.</li>
                  </ul>
                </td>
                <!--<td>
                  <a class="example-tooltip-host" mdTooltip={{tooltipVer}} [mdTooltipPosition]="position">
                    <img src="assets/icons/ver.png"  (click)="apretarIconoVerFinca(fincaPendientesAprobacion.idFinca,fincaPendientesAprobacion.idUsuarioFinca,fincaPendientesAprobacion.nombreFinca)">
                    
                  </a>
                </td>-->
              </tr>

            </tbody>
          </table>
        </section>
      </md-card-content>
    </md-card>

    <!--SECCION FINCAS DESHABILITADAS -->
    <!--<md-card class="page-card">
      <md-card-title>
        Fincas Deshabilitadas
      </md-card-title>
      <md-card-content>
        <section *ngIf="errorMessageFincasDeshabilitadas" class="bs">
          <div class="bd-example" data-example-id="">
            <div class="alert alert-danger" role="alert">
              <strong>{{errorMessageFincasDeshabilitadas}}</strong>
            </div>
          </div><br>
        </section>
        <section *ngIf="getFincasDeshabilitadas()" class="bs">
          <table class="table table-striped table-hover table-card">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Ubicaci&oacute;n</th>
                <th class="actions">Acci&oacute;n</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fincaDeshabilitada of fincasDeshabilitadas">
                <td>{{fincaDeshabilitada.nombreFinca}}</td>
                <td>{{fincaDeshabilitada.nombreRol}}</td>
                <td>
                  <ul>
                    <li>Latitud: {{fincaDeshabilitada.ubicacion[0]}}</li>
                    <li>Longitud: {{fincaDeshabilitada.ubicacion[1]}}</li>
                  </ul>
                </td>
                <td>
                  <a class="example-tooltip-host" mdTooltip={{tooltipHabilitarFinca}} [mdTooltipPosition]="position">
                            <img src="assets/icons/habilitar.png" (click)="apretarHabilitarFinca(fincaDeshabilitada.idFinca)">          
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </md-card-content>
    </md-card>-->
  </md-card>
</div>