<!--SECCION HOME FINCA-->
<div class="page-content">
  <md-card class="page-card">
    <md-card-title>
      Resumen de Fincas
    </md-card-title>
    <md-card-subtitle>En esta secci&oacute;n el usuario puede crear y observar las fincas que tiene asignada con distintos roles.</md-card-subtitle>
    <md-card-content>
      <h3>
        <small>¿Desea crear una finca?</small>
        <a class="example-tooltip-host" mdTooltip={{tooltipCrearFinca}} [mdTooltipPosition]="position" md-icon-button (click)="apretarNuevaFincaIcono()">
          <md-icon>fiber_new</md-icon>
        </a>

      </h3>

    </md-card-content>

    <!--SECCION FINCA ENCARGADO-->
    <md-card class="page-card">
      <md-card-title>
        Finca con Rol Encargado
      </md-card-title>
      <md-card-content>
        <section *ngIf="errorMessageFincasEncargado" class="bs">
          <div class="bd-example" data-example-id="">
            <div class="alert alert-danger" role="alert">
              <strong>{{errorMessageFincasEncargado}}</strong>
            </div>
          </div><br>
        </section>
        <section *ngIf="getFincasEncargado()" class="bs">
          <table class="table table-striped table-hover table-card">
            <thead>
              <tr>
                <th style="width:37%;">Nombre</th>
                <th style="width:36%;">Tama&ntilde;o</th>
                <th>Ubicaci&oacute;n</th>
                <th class="actions">Acci&oacute;n</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fincaEncargado of fincasEncargado">
                <td>{{fincaEncargado.nombre}}</td>
                <td>{{fincaEncargado.tamanio}}</td>
                <td>{{fincaEncargado.ubicacion}}</td>
                <td>
                  <a class="example-tooltip-host" mdTooltip={{tooltipVer}} [mdTooltipPosition]="position">
                  <img src="assets/icons/ver.png">
                </a>
                </td>
              </tr>

            </tbody>
          </table>
        </section>
      </md-card-content>
    </md-card>

    <!--SECCION FINCA OTRO ROL-->
    <md-card class="page-card">
      <md-card-title>
        Finca con otro Rol
      </md-card-title>

      <md-card-content>
        <section *ngIf="errorMessageFincasUsuario" class="bs">
          <div class="bd-example" data-example-id="">
            <div class="alert alert-danger" role="alert">
              <strong>{{errorMessageFincasUsuario}}</strong>
            </div>
          </div><br>
        </section>
        <section *ngIf="getFincasUsuario()" class="bs">
          <table class="table table-striped table-hover table-card">
            <thead>
              <tr>
                <th style="width:37%;">Nombre</th>
                <th style="width:36%;">Tama&ntilde;o</th>
                <th>Ubicaci&oacute;n</th>
                <th class="actions">Acci&oacute;n</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fincaUsuario of fincasUsuario">
                <td>{{fincaUsuario.nombre}}</td>
                <td>{{fincaUsuario.tamanio}}</td>
                <td>{{fincaUsuario.ubicacion}}</td>
                <td>
                  <a md-icon-button>
                    <md-icon>remove_red_eye</md-icon>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
        </section>
      </md-card-content>
    </md-card>


  </md-card>



</div>